services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-main
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - DEBUG=0
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - "./local/localstack-volume:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock" # required for lambdas
  cognito-local:
    image: jagregory/cognito-local
    container_name: cognito-local
    ports:
      - "9229:9229"
    environment:
      - CODE=123456 # fixed code for UI tests
      - AWS_REGION=eu-central-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - "./local/cognito-local-volume:/app/.cognito"

volumes:
  cognito-data:
