name: Dependabot auto-merge
on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Verify no human commits # Otherwise committers might get around approvals
        run: |
          COMMITS=$(gh pr view "$PR_URL" --json commits --template '{{range .commits}}{{.author.login}}{{"\n"}}{{end}}' | uniq)
          if [ "$COMMITS" != "dependabot" ] && [ "$COMMITS" != "dependabot[bot]" ]; then
            echo "Detected non-dependabot commits: $COMMITS"
            exit 1
          fi
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Approve and enable auto-merge
        if: steps.metadata.outputs.update-type != 'version-update:semver-major'
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}