name: Continuous Integration

on:
  pull_request:

jobs:
  seed-template:
    name: Seed Template
    runs-on: ubuntu-latest
    outputs:
      instance-path: ${{ steps.set-path.outputs.path }}
      lambda-builder-changed: ${{ steps.filter-lambda-builder.outputs.builder }}
    steps:
      - uses: actions/checkout@v6
      - name: Validate root dependabot.yml
        uses: marocchino/validate-dependabot@v3
        with:
          path: .github/dependabot.yml
      - uses: dorny/paths-filter@v3
        id: filter-lambda-builder
        with:
          filters: |
            builder:
              - 'Dockerfile.lambda-builder'
      - name: Cache pip
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: pip-cache-cookiecutter
      - name: Install cookiecutter
        run: pip install cookiecutter
      - name: Generate verification template instance
        run: |
          # Overwrite defaults to make sure defaults are not part of the seeded template due to copy & paste
          cookiecutter --no-input --output-dir . template/ \
            project_name="Verification Instance" \
            project_description="Some sample application." \
            author="GitHub Actions" \
            author_email="git@hub.actions" \
            default_region="us-west-2" \
            domain_name="foo.bar" \
            hosted_zone_id="undefined" \
            staging_hosted_zone_id="undefined" \
            email_sender_address="no-reply@foo.bar" \
            email_sender_name="Email Sender Name" \
            email_replyto="reply@foo.bar" \
            test_user_email="test@hub.actions" \
            test_user_password="Test456$"
      - name: Verify template contains no default values
        run: |
          python scripts/check_defaults.py --template template/cookiecutter.json --generated test-instance \
            -c project_slug "tool-set-project" \
            -c package_name "tool_set_project" \
            -c email_sender_address "no-reply@levity.wulf.technology" \
            -c email_sender_name "Tool-Set Project" \
            -c email_replyto "no-reply@levity.wulf.technology" \
            --ignore license hosted_zone_id staging_hosted_zone_id
      - name: Generate test template instance
        run: |
          # Overwrite defaults to make sure defaults are not part of the seeded template due to copy & paste
          cookiecutter --no-input --output-dir . template/ \
            project_slug="test-instance"
      - name: Upload test template instance
        uses: actions/upload-artifact@v6
        with:
          name: test-instance
          path: test-instance/
          include-hidden-files: true # for .prettierignore etc.
  test-builder-image:
    name: Test Builder Image
    runs-on: ubuntu-latest
    needs: seed-template
    if: needs.seed-template.outputs.lambda-builder-changed == 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Build local builder
        run: docker build -f Dockerfile.lambda-builder -t local-builder .
      - name: Smoke test
        run: |
          docker run --rm local-builder cargo --version
          docker run --rm local-builder protoc --version
  check-dependabot:
    name: Check Dependabot
    runs-on: ubuntu-latest
    needs: seed-template
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v7
        with:
          name: test-instance
          path: ./test-instance
      - name: Validate template dependabot.yml
        uses: marocchino/validate-dependabot@v3
        with:
          path: test-instance/.github/dependabot.yml
  check-protocols:
    name: Check Protocols
    runs-on: ubuntu-latest
    needs: seed-template
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v7
        with:
          name: test-instance
          path: ./test-instance
      - uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Lint protocols
        uses: bufbuild/buf-lint-action@v1
        with:
          input: ./test-instance/protocols
  test-backend:
    name: Test Backend in Template
    runs-on: ubuntu-latest
    needs: seed-template
    defaults:
      run:
        working-directory: ./test-instance/backend
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v7
        with:
          name: test-instance
          path: ./test-instance
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./test-instance/backend
          cache-on-failure: true
      - name: Run cargo check
        id: check
        run: cargo check
        continue-on-error: true
      - name: Run clippy
        id: clippy
        run: cargo clippy
        continue-on-error: true
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - name: Run unit tests
        id: tests
        run: cargo nextest run
        continue-on-error: true
      - name: Aggregate results and fail if any failed
        if: always() # ensure this runs even if earlier steps failed
        run: |
          echo "check outcome:  ${{ steps.check.outcome }}"
          echo "clippy outcome:  ${{ steps.clippy.outcome }}"
          echo "tests outcome:  ${{ steps.tests.outcome }}"

          # If any step outcome is 'failure' then fail the job
          for s in "${{ steps.check.outcome }}" "${{ steps.clippy.outcome }}" "${{ steps.tests.outcome }}"; do
            if [ "$s" = "failure" ]; then
              echo "One or more checks failed."
              exit 1
            fi
          done

          echo "All checks passed."
  test-infrastructure:
    name: Test Infrastructure in Template
    runs-on: ubuntu-latest
    needs: seed-template
    defaults:
      run:
        working-directory: ./test-instance/infrastructure
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v7
        with:
          name: test-instance
          path: ./test-instance
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "test-instance/infrastructure/package-lock.json"
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
  test-frontend:
    name: Test Frontend in Template
    runs-on: ubuntu-latest
    needs: seed-template
    defaults:
      run:
        working-directory: ./test-instance/frontend
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v7
        with:
          name: test-instance
          path: ./test-instance
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "test-instance/frontend/package-lock.json"
      - name: Install dependencies
        run: npm ci
      - name: Generate Protocol Buffer files
        run: npm run gen:proto
      - name: Linting
        id: lint
        run: npm run lint
        continue-on-error: true
      - name: Check Svelte with TypeScript
        id: check
        run: npm run check
        continue-on-error: true
      - name: Run unit tests
        id: tests
        run: npm run test:unit
        continue-on-error: true
      - name: Aggregate results and fail if any failed
        if: always() # ensure this runs even if earlier steps failed
        run: |
          echo "lint outcome:   ${{ steps.lint.outcome }}"
          echo "check outcome:  ${{ steps.check.outcome }}"
          echo "tests outcome:  ${{ steps.tests.outcome }}"
          # If any step outcome is 'failure' then fail the job
          for s in "${{ steps.lint.outcome }}" "${{ steps.check.outcome }}" "${{ steps.tests.outcome }}"; do
            if [ "$s" = "failure" ]; then
              echo "One or more checks failed."
              exit 1
            fi
          done

          echo "All checks passed."
  test-e2e:
    name: Test end-to-end in Template
    runs-on: ubuntu-latest
    needs:
      - test-backend
      - test-frontend
      - test-infrastructure
    env:
      CI: "true"
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v7
        with:
          name: test-instance
          path: ./test-instance
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./test-instance/backend
          cache-on-failure: true
      - name: Install Rust
        run: rustup toolchain install stable
      - name: Install latest cargo-lambda binary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=$(curl -H "Authorization: Bearer $GITHUB_TOKEN" -s https://api.github.com/repos/cargo-lambda/cargo-lambda/releases/latest | jq -r .tag_name)
          echo "Latest tag is $TAG"
          ARCH=$(uname -m)
          if [ "$ARCH" = "x86_64" ]; then
            ASSET="cargo-lambda-$TAG.x86_64-unknown-linux-musl.tar.gz"
          elif [ "$ARCH" = "aarch64" ] || [ "$ARCH" = "arm64" ]; then
            ASSET="cargo-lambda-$TAG.aarch64-unknown-linux-musl.tar.gz"
          else
            echo "Unsupported architecture: $ARCH"
            exit 1
          fi
          echo "Downloading $ASSET"
          curl -fL -o /tmp/cargo-lambda.tar.gz \
            "https://github.com/cargo-lambda/cargo-lambda/releases/download/$TAG/$ASSET"
          sudo tar -xzf /tmp/cargo-lambda.tar.gz -C /usr/local/bin
      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@v2.4.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          compose-file: "./test-instance/docker-compose.yml"
          services-log-level: info
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          node-version: "20"
          cache: "npm"
          cache-dependency-path: |
            test-instance/frontend/package-lock.json
            test-instance/infrastructure/package-lock.json
      - name: Deploy CDK to LocalStack
        working-directory: test-instance/infrastructure/
        run: |
          npm ci
          npx cdk --version
          # Wait up to 60 seconds for cloudformation in localstack to be available
          timeout 60s bash -c 'until curl -s http://localhost:4566/_localstack/health | grep "\"cloudformation\": \"available\""; do echo "waiting for cloudformation..."; sleep 2; done'
          echo "LocalStack CloudFormation is ready."
          npm run cdklocal:bootstrap
          npm run cdklocal:deploy
      - name: Start cargo-lambda watch in background
        working-directory: test-instance/backend/
        run: |
          cargo build # build backend for faster start of cargo lambda watch
          cargo lambda watch &>/tmp/cargo-lambda-watch.log &
          CARGO_PID=$!
          echo "CARGO_PID=$CARGO_PID" >> $GITHUB_ENV
          echo "Started cargo lambda watch running on pid $CARGO_PID"
      - name: Start npm run dev in background
        working-directory: test-instance/frontend/
        run: |
          npm ci
          npm run gen:proto
          npm run dev &>/tmp/npm-dev.log &
          NPM_PID=$!
          echo "NPM_PID=$NPM_PID" >> $GITHUB_ENV
          echo "Started npm run dev running on pid $NPM_PID"
          npx wait-on http://localhost:5173 --timeout 60000
      - name: Run Playwright tests
        working-directory: test-instance/frontend/
        run: |
          docker run --rm \
            --network host \
            -v $(pwd):/work \
            -w /work \
            -e CI=true \
            mcr.microsoft.com/playwright:v1.57.0-noble \
            npx playwright test
      - name: Upload Playwright test results
        id: upload-playwright
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: playwright-test-results
          path: |
            test-instance/frontend/test-results/
            test-instance/frontend/playwright-report/
            test-instance/frontend/playwright-report/videos/
            test-instance/frontend/playwright-report/screenshots/
            /tmp/cargo-lambda-watch.log
          include-hidden-files: true
      - name: Playwright report
        if: failure()
        run: echo "Playwright report is at ${{ steps.upload-playwright.outputs.artifact-url }}"
      - name: Stop cargo lambda watch and npm run dev
        if: always() # ensure it runs even if previous steps fail
        run: |
          echo "Stopping cargo lambda watch at $CARGO_PID"
          kill $CARGO_PID
          echo "Stopping npm run dev at $NPM_PID"
          kill $NPM_PID
